
Download the data that appear on the College Scorecard, as well as supporting data on student completion, debt and repayment, earnings, and more. The files include data from 1996 through 2017 for all undergraduate degree-granting institutions of higher education.

This data was last updated May 21, 2019. Our Change Log describes the changes to the dataset over time.

In [1]:
import os.path
import matplotlib.pyplot as plt
import numpy as npcolumns={'points': 'score'}
import pandas as pd


pd.set_option("display.max_rows", 5)

SyntaxError: invalid syntax (<ipython-input-1-84769a339ba2>, line 3)

In [10]:
# stub for world happiness report... (SUICIDED DATA SET)

DATAPATH = '/Users/ergonyc/Projects/Insight/Data'
DATA_DIR = DATAPATH + '/CollegeScorecard_Raw_Data/MERGED

data_year = 2017


COLLEGE_FILE = os.path.join(DATA_DIR, 'MERGED2017_18_PP.csv')

Lets start with just 2017 data to start wiith and explore the dataset.  Second step will be to check on how similar the three years data fields are.

In [13]:
# Load suicide data.
year17 = pd.read_csv(COLLEGE_FILE, sep=',')

year17.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182